streamlit
google-generativeai
plotly
streamlit-option-menu
pandas
spacy
wordcloud
streamlit-autorefresh
folium
streamlit-folium
streamlit-extras

en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
pt-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0-py3-none-any.whl
